
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="info-inner-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">
					<div class="logo-image">
						<img src="./img/main/logo.png" alt="">
					</div>
					<div class="logo-title">Национальный психолого-педагогический колледж со&nbsp;специализацией психоанализ</div>
				</a>
			</div>
			<div class="phone-wrap">
				<div class="phone-number"><a href="tel:89026122617">+7 (902) 612 26 17</a></div>
				<div class="phone-number"><a href="tel:83517779494">+7 (351) 777 94 94</a></div>
				<div class="phone-info">Ежедневно 9:00 - 17:00 по Москве</div>
			</div>
			<div class="soc-wrap">
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/button-wa.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/button-vb.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/button-tg.svg" alt="">
				</a>
			</div>
		</div>
		<div class="menu-inner-wrap">
			<ul class="menu">
				<li>
					<a href="">Информация</a>
					<ul>
						<li><a href="">Ведущие преподаватели</a></li>
						<li><a href="">Лицензия и образец диплома</a></li>
						<li><a href="">Реквизиты</a></li>
						<li><a href="">Ассоциация</a></li>
						<li><a href="">Новости</a></li>
						<li><a href="">Контакты</a></li>
						<li><a href="">Политика в области обработки и защиты персональных данных</a></li>
						<li><a href="">Карта сайта</a></li>
					</ul>
				</li>
				<li>
					<a href="">Обучение</a>
					<ul>
						<li><a href="">Списки студентов</a></li>
						<li><a href="">Бибилиотека</a></li>
						<li><a href="">Расписание</a></li>
					</ul>
				</li>
				<li>
					<li><a href=""><a href="">Программы</a></a></li>
					<ul>
						<li><a href="">Метод психодинамического гипноза</a></li>
						<li><a href="">Клинический психоанализ</a></li>
						<li><a href="">Перинатальная психология</a></li>
						<li><a href="">Предпринимательство и бизнес</a></li>
						<li><a href="">Графологический анализ</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="bottom-info-wrap">
			<p>© 2023 Национальный Психологопедагогический-педагогический колледж. ВСЕ ПРАВА ЗАЩИЩЕНЫ.</p>
		</div>
	</div>
</footer>
<!-- /footer -->


<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-login">
	<div class="popup-box">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Войти</div>
		</div>
		<div class="popup-content-wrap">
			<!--form-box-->
			<div class="form-box">
				<div class="frm-section-wrap">
					<div class="frm-section-content">
						<div class="frm-row">
							<div class="frm-field">
								<div class="frm-field-title">Логин</div>
								<div class="frm-field-content">
									<input type="text" class="form-input" value="" placeholder="Латинские буквы">
								</div>
							</div>
						</div>
						<div class="frm-row">
							<div class="frm-field">
								<div class="frm-field-title">Пароль</div>
								<div class="frm-field-content">
									<div class="frm-field-password">
										<input type="password" class="form-input" value="123456">
										<a href="" class="btn-password-toggle btn-action-ico ico-password-toggle js-password-toggle"></a>
									</div>
								</div>
							</div>
						</div>
						<div class="frm-row">
							<div class="frm-field field-info">
								<div class="frm-field-content">Забыли пароль? <a href="" class="link-main">Напомнить</a></div>
							</div>
						</div>
						<div class="frm-row-submit">
							<div class="frm-field">
								<button type="submit" class="btn">Войти</button>
							</div>
							<div class="frm-field">
								<button type="submit" class="btn button-border-dark">
									<div class="button-title">Я&nbsp;тут&nbsp;впервые, хочу&nbsp;зарегистрироваться</div>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/form-box-->
		</div>
	</div>
</div><!--/popup-outer-box-->