
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<div class="logo-image">
					<img src="./img/main/logo.png" alt="">
				</div>
				<div class="logo-title">Национальный психолого-педагогический колледж со&nbsp;специализацией психоанализ</div>
			</a>
		</div>
		<div class="header-inner-panel">
			<div class="menu-wrap popup-menu-wrap js-popup-wrap">
				<a href="" class="btn-popup-toggle btn-action-ico ico-menu js-btn-popup-toggle"></a>
				<div class="popup-content-block js-popup-block">
					<a href="" class="btn-popup-close btn-action-ico ico-close js-btn-popup-close"></a>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu active">
								<div class="button-title">Обучение</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">О нас</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Новости</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Сведения об организации</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Контакты</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-ico">
									<img src="./img/icons/login.svg" alt="">
								</div>
								<div class="button-title">Вход</div>
							</a>
						</li>
					</ul>
					<div class="phone-wrap">
						<div class="phone-number">
							<a href="tel:88000000000" class="link-phone">8 (800) 000-00-00</a>
						</div>
						<div class="phone-info">Ежедневно 9:00 - 17:00 по Москве <br>Звонок по России бесплатный</div>
					</div>
				</div>
			</div>
		</div>
		<div class="actions-wrap">
			<a href="" class="btn-menu">
				<div class="button-ico">
					<img src="./img/icons/login.svg" alt="">
				</div>
				<div class="button-title">Вход</div>
			</a>
		</div>
	</div>
</header>
<!-- /header -->